.about-us {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
  height: calc( 100vh - 288px );
  min-height: 280px;
  background: url(../img/bg-about.jpg) no-repeat 100% 100%;
  background-size: cover;

  &__text{
    width: 80%;
    height: calc( 100vh - 328px );
    min-height: 240px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(0,0,0,.5);

    & > div{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .ps-container{
      padding-left: 15px;
    }

    p{
      margin-top: 15px;

      &:first-child{
        margin-top: 0;
      }

    }

  }

}

@media (min-width: $tablet-portrait) {
  .about-us {
    height: calc( 100vh - 522px );

    &__text{
      height: calc( 100vh - 562px );
    }

  }
}

@media (min-width: $tablet-landscape) {
  .about-us {
    height: 100vh;
    padding: 10vh;

    &__text{
      width: 60vh;
      height: 30vh;
      margin: 0;
      background-color: #000;
    }

  }
}